@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potwierdzenie zapomnianego hasła";
}

<h1 style="color:#990075;>@ViewData["Title"]</h1>
<p>
    Sprawdź swój email, aby zresetować hasło.
</p>
