@page
@model LockoutModel
@{
    ViewData["Title"] = "Konto zablokowane";
}

<header>
    <h1 class="text-danger" style="color:#990075;">@ViewData["Title"]</h1>
    <p class="text-danger">To konto zostało zablokowane, spróbuj ponownie później.</p>
</header>
